	body {
  background: #1e2440;
  color: #f2efe2;
  font-size: 16px;
}
 
 
button:focus {
    outline: 0;
}
 
.mycontainer {
   
}
 
 
.mywebapp {
    margin: 50px auto;
}
 
#textbox {
    margin: 30px 0;
    position: absolute;
    top: 63%;
    left: 1%;
    width:98%;
    height: 18%;
    background-color:aquamarine;
    color: black;
    font-size: 30px;
}
#start-btn{
    position: absolute;
    top: 86%;
    left:45%;
    color:white;
    background-color: #5D6D7E  ;
}
@media (max-width: 768px) {
  .mycontainer {
    width: 85vw;
    max-width: 85vw;
  }
 
    button {
        margin-bottom: 10px;
}
}